{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block header %}

{% endblock header %}
{% block title %}Home{% endblock title %}

<!-- prettier-ignore -->
{% block page_title %}Home{% endblock page_title %}

<!-- prettier-ignore -->
{% block content %}
<table>
  <tr>
    <td>Code</td>
    <td>Previous Close</td>
    <td>Open</td>
    <td>High</td>
    <td>Low</td>
    <td>Close</td>
    <td>Change</td>
    <td>Volume</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{i.code}}</td>
    <td>{{i.previous_close}}</td>
    <td>{{i.open_price}}</td>
    <td>{{i.high}}</td>
    <td>{{i.low}}</td>
    <td>{{i.close}}</td>
    <td>{{i.change}}</td>
    <td>{{i.volume}}</td>
  </tr>

  {% endfor %}
</table>

<!-- prettier-ignore -->
{%endblock content %}

{% block footer %} {% endblock footer %}
