{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block header %}

{% endblock header %}
{% block title %}Home{% endblock title %}

<!-- prettier-ignore -->
{% block page_title %}Home{% endblock page_title %}

<!-- prettier-ignore -->
{% block content %}
<h4>Lorem</h4>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas at dolorum
  neque vel possimus mollitia omnis, odio quo, suscipit inventore iste ducimus
  consequuntur vero illum temporibus alias officia dolores deleniti!
</p>
{%endblock content %} {% block footer %} {% endblock footer %}
