<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Aplikasi Kalkulator Saham{% endblock%}
{% block title_h1 %}Home{% endblock %}
{% block content %}
<div>
  <div style="text-align: center">
    <h3>Selamat datang di aplikasi kalkulator saham</h3>
  </div>

  <a href="/kalkulator" class="btn btn--stripe">Beli Saham</a>
  <a href="/kalkulator_" class="btn btn--stripe">Jual Saham</a>
  <a href="/list_saham" class="btn btn--stripe">List Saham</a>
  <a
    href="https://github.com/andipramana/sahamku"
    target="blank"
    class="btn btn--stripe btn--radius"
    >Source Code</a
  >
</div>

{% endblock %}
