<!-- prettier-ignore -->
{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href={{ url_for('static', filename='css/modal.css') }}>
{% endblock %}
{% block title %}List Saham{% endblock %}
{% block content %}
<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <table class="modal-table" style="color: black;">
        <tr>
          <td>Code</td>
          <td>:</td>
          <td class="right stock-code"></td>
        </tr>
        <tr>
          <td>Previous Close</td>
          <td>:</td>
          <td class="right stock-prev-close"></td>
        </tr>
        <tr>
          <td>Open</td>
          <td>:</td>
          <td class="right stock-open"></td>
        </tr>
        <tr>
          <td>High</td>
          <td>:</td>
          <td class="right stock-high"></td>
        </tr>
        <tr>
          <td>Low</td>
          <td>:</td>
          <td class="right stock-low"></td>
        </tr>
        <tr>
          <td>Close</td>
          <td>:</td>
          <td class="right stock-close"></td>
        </tr>
        <tr>
          <td>Change</td>
          <td>:</td>
          <td class="right stock-change"></td>
        </tr>
        <tr>
          <td>Volume</td>
          <td>:</td>
          <td class="right stock-volume"></td>
        </tr>
      </table>
     
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
								<rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
							</svg>
    </div>
  </div>
</div>


<table id="table">
  <tr>
    <td colspan="4">
      <h1 style="text-align: center">List Saham</h1>
    </td>
  </tr>
  <tr id="theader">
    <th class="row-w">Code</th>
    <th class="row-w">Last Price</th>
    <th class="row-w">Change</th>
    <th class="row-w">Volume</th>
  </tr>

  <tr>
    <td colspan="4">
      <p style="text-align: center;">Loading data...</p>
    </td>
  </tr>

  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>

  <tr>
    <td colspan="4">
      <a href="/kalkulator" class="btn btn--stripe btn--radius">Kalkulator</a>
    </td>
  </tr>
</table>

{% block footer %}
<script src={{ url_for('static', filename='js/saham.js') }}></script>
{% endblock %}
{% endblock %}
